.background {
  background: black url('../images/auto-bg.jpg');
  background-repeat: no-repeat;
  background-blend-mode: luminosity;
  box-shadow: 0 0 15px;
  background-position: inherit;
  background-size: cover;
}

.border-separator-bottom {
  border-bottom: 2px solid #080808 !important;
  box-shadow: 0 0 40px rgb(247, 245, 245);
}
.border-separator-top {
  border-top: 1px solid #080808;
}


.text-decoration{
  font-weight: 800;
  color: #100f0e !important;
  text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.7), 1px -1px 0 rgba(255, 255, 255, 0.7), -1px 1px 0 rgba(255, 255, 255, 0.7), 1px 1px 0 rgba(255, 255, 255, 0.7);
}
