<div style="height: 28px"></div>
  <div  class="row" style="margin-top: 2%">
    <div class="col-md-3 col-sm-3 col-xs-3 col-lg-2" style="margin-top: 2%">
      <ul id="style-2" class="nav nav-list bs-docs-sidenav scrollbar" style="width: 100%; background-color: rgba(245, 247, 247, 0.48); height: 500px;
    overflow: auto; z-index: 1000;">
        <li style="width: 98%">
          <input type="search" placeholder="Фильтр" ng-model="filter" >
        </li>
        <li ng-repeat="auto in autos | filter:filter " style="width: 98%;" class="active" ng-click="ClickCars(auto)">
          <a href="">
            <div class="row">
              <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4" >
                <img ng-src="{{auto.src}}" style="width: 32px;">
              </div>
              <div class="col-md-8 col-sm-8 col-xs-8 col-lg-8" style="text-align: left">
                {{auto.label}}
              </div>
            </div>
          </a>
        </li>
      </ul>


    </div>

    <div class="col-md-9 col-sm-9 col-xs-9 col-lg-10 margin-slide slide-1" style=" height: 310px;">
      <div class=" slide-1-block-background slide-1-block-background-company"
           style="
            height: 500px;
            padding-top: 2%;
            min-height: 500px;
            max-height: 860px;
            width: 98%; "
      >

        <img ng-show="!description" src="../images/logo_black.PNG" style=" height: 290px; margin-left: 30%;">
        <div ng-show="description" class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
          <img ng-src="{{src}}">
        </div>
        <div ng-show="description" class="col-lg-10 col-md-10 col-sm-9 col-xs-8">
          <p>{{description}}</p>
        </div>
        <h1>{{SecondPage_Slider_Title| translate}} </br></h1>

      </div>

    </div>
    </div>
    <div class="col-md-9 col-sm-9 col-xs-9 col-lg-10"></div>
  </div>

<script>
  $(document).ready(function () {
    if (!$.browser.webkit) {
    $('.wrapper').html('<p>Sorry! Non webkit users. :(</p>');
    }
    });
</script>
