<div style="height: 130px" id="details"></div>
<div ng-show="details">
  <div class="row coupon-details-style">
    <div class="col-md-4 col-sm-4 col-xs-12">
      <img ng-src="../../../images/{{details.src}}">
    </div>
    <div class="col-md-8 col-sm-8 col-xs-12" >
      <h3>{{details.title}}</h3>
      <p style="font-size: 16px">{{details.text}}</p>
    </div>
  </div>

</div>

<div class="row" style="margin-right: 15px;  margin-left: 15px;">
  <div class="col-sm-3" ng-repeat="item in items" ng-if="item!=details" ng-click="map(item)">
    <div class="widget" ng-click="Active(item)"  ng-class="{'active' : active == item.id}">
      <div class="coupon-block equal">
        <div class="coupon-value" content="40%">{{item.title}}</div>
        <a class="coupon-image bg-image" href="" title="" data-image-src="http://placehold.it/300x200" style="background: url(../../../images/{{item.src}}) center center / cover no-repeat;"></a>
        <p class="status-label">{{item.status}}</p>
        <div class="coupon-text">
          <p>
          {{item.text}}
          </p>
        </div>
        <div class="action-block" ng-click="openDetails(item.text)">
          <button class="form-control btn-blue">Подробнее</button>
        </div>
      </div>
    </div>
  </div>
</div>

