<div class="footer-top">
  <div class="container">
    <div class="row">


      <div class="col-md-6 footer-widget2">
        <span>ИП Знорко Ю.Г. </span>
        <br>
        <span>г.Минск УНП 192782722</span>
        <br>
        <span>6565700@gmail.com</span>
        <br>
        <span>+375 29 65 65 700</span>
        <span>+375 29 55 65 700</span>
      </div>

      <div class="col-md-6 footer-widget3">
        <h3>Latest Tweets</h3>
        <div class="single-tweet">
          <div class="col-xs-1 no-padding">
            <i class="fa fa-twitter"></i>
          </div>
          <div class="tweet-content col-xs-11">
            <p><a href="#">@Jorbadan</a> Please see our support forum <a href="#">koitamna.co.bd</a></p>
            <span>3 days ago</span>
          </div>
        </div>
        <div class="single-tweet">
          <div class="col-xs-1 no-padding">
            <i class="fa fa-twitter"></i>
          </div>
          <div class="tweet-content col-xs-11">
            <p><a href="#">@Jorbadan</a> Please see our support forum <a href="#">koitamna.co.bd</a></p>
            <span>3 days ago</span>
          </div>
        </div>
        <div class="single-tweet">
          <div class="col-xs-1 no-padding">
            <i class="fa fa-twitter"></i>
          </div>
          <div class="tweet-content col-xs-11">
            <p><a href="#">@Jorbadan</a> Please see our support forum <a href="#">koitamna.co.bd</a></p>
            <span>3 days ago</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<div id="back-top">
  <a class="back-top" href="#slider"><i class="fa fa-angle-up"></i></a>
</div>
<div class="footer-bottom text-center">
  <p>Copyright &copy; 2016 <a href="http://mostafiz.me">Mostafiz</a> . All rights Reserved</p>
</div>
