<div class="footer-top">
  <div class="container">
    <div class="row none-row block-default background-questions questions ng-scope" style="color: #faebd7;">

      <h2 class="text-left-mobile ng-binding" style="color: #faebd7; margin-bottom: 30px;" >Всегда готовы вам помочь</h2>
      <div class="col-md-12">

        <form name="sentMessage" id="contactForm" novalidate>
          <div class="row">

            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="ФИО *" id="name" required data-validation-required-message="Пожалуйста, введите ваше имя">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" placeholder="e-mail *" id="email" required data-validation-required-message="Пожалуйста, проверьте введенный email">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <input type="tel" class="form-control" placeholder="Номер телефона *" id="phone" required data-validation-required-message="Пожалуйста, проверьте введенный номер">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <textarea class="form-control" placeholder="Сообщение *" id="message" required data-validation-required-message="Пожалуйста, введите ваше сообщение"></textarea>
                <p class="help-block text-danger"></p>
              </div>
              <div class="clearfix"></div>
              <div class="col-lg-12 text-center" style="padding-right: 0px; padding-left: 0px">
                <div id="success"></div>
                <button style=" background-color: #f15c09; margin-top: 0px;" type="submit" class="btn btn-lg btn-block btn-full-orange">Отправить</button>
              </div>
            </div>
            <div class="col-md-6" style="color: #fff">
              <div>
                <h2 style="color: #faebd7; padding-top: 0px; margin-top: 0px">
                  Телефон:
                </h2>
                <h1 class="text-center" style="font-size: 2em;">+375 (29) 719-14-44</h1>
                <h1 class="text-center" style="font-size: 2em;">+375 (25) 912-65-81</h1>
                <h2 style="color: #faebd7">e-mail: </h2>
                <h1 class="text-center" style="font-size: 2em;"><a href="info@site.info">info@site.info</a></h1>
              </div>
            </div>
          </div>
        </form>

      </div>


  </div>
</div>
</div>
<div class="footer-bottom text-center border-separator-top">
  <p>Copyright &copy; 2016 <a href="http://mostafiz.me">Mostafiz</a> . All rights Reserved</p>
</div>
