  <!--<div class="navbar fontCustoms">-->
    <!--<div class="navbar-header">-->
      <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">-->
        <!--<span class="sr-only">Toggle navigation</span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
      <!--</button>-->
      <!--<a class="navbar-brand" rel="home" href="#/" title="Homepage"><img src="images/logo.png" style="height:58px; margin-top: -7%"></a>-->
    <!--</div>-->
  <!--<div class="collapse navbar-collapse navbar-ex1-collapse">-->
    <!--<ul class="nav navbar-nav">-->
      <!--<li  class="dropdown"  ng-class="{'activeHeader' : tabActive=='root.company.about'||tabActive=='root.company.value'||tabActive=='root.company.team'||tabActive=='root.company.reviews'}">-->
        <!--<a class="navHover" href="">{{Header_nav_1 | translate}}</a>-->
        <!--<ol class="dropdown-menu">-->
          <!--<li><a href=""></a></li>-->
          <!--<li ng-class="{'activeHeaderSubMenu' : tabActive=='root.company.about'}" ng-click="stateGo('root.company.about')"><a href="">{{Header_nav_1_1 | translate}}</a></li>-->
          <!--<li ng-class="{'activeHeaderSubMenu' : tabActive=='root.company.value'}" ng-click="stateGo('root.company.value')"><a href="">{{Header_nav_1_2 | translate}}</a></li>-->
          <!--<li ng-class="{'activeHeaderSubMenu' : tabActive=='root.company.team'}" ng-click="stateGo('root.company.team')"><a href="">{{Header_nav_1_3 | translate}}</a></li>-->
          <!--<li ng-class="{'activeHeaderSubMenu' : tabActive=='root.company.reviews'}" ng-click="stateGo('root.company.reviews')"><a href="">{{Header_nav_1_4 | translate}}</a></li>-->
        <!--</ol>-->
      <!--</li>-->
  <!-- Logo ============================================= -->
  <div class="container">
    <div class="row">
      <div id="logo" class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="float: left">
        <a href="index.html" class="medihere-logo">
          <img src="images/logo_black_none_text.png" style="width: 18%" alt="medihere Logo" title="medihere">
          <img src="images/logo_text.png" alt="medihere Logo" style="width: 80%" title="medihere">
        </a>
      </div>


      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pull-right " style="margin-top: 1%">

        <p class="text-decoration">+375 29 65 65 700</p>
        <p class="text-decoration">+375 29 55 65 700</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pull-right" style="margin-top: 1%">
        <p class="text-decoration">ул.Топографическая 7</p>
        <p class="text-decoration">e-mail: 6565700@gmail.com</p>
      </div>
    </div>
  </div>
  <!-- #logo end -->
  <!-- Header
       ============================================= -->
      <!--<div class="container">-->
  <!--<nav class="navbar navbar-default">-->
  <!--<div class="container-fluid">-->
  <!--&lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;-->
  <!--<div class="navbar-header">-->
  <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">-->
  <!--<span class="sr-only">Toggle navigation</span>-->
  <!--<span class="icon-bar"></span>-->
  <!--<span class="icon-bar"></span>-->
  <!--<span class="icon-bar"></span>-->
  <!--</button>-->
  <!--&lt;!&ndash;&lt;!&ndash; Logo ============================================= &ndash;&gt;&ndash;&gt;-->
  <!--&lt;!&ndash;<div id="logo">&ndash;&gt;-->
  <!--&lt;!&ndash;<a href="index.html" class="medihere-logo"><img src="images/logo.png" alt="medihere Logo" title="medihere"></a>&ndash;&gt;-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->
  <!--&lt;!&ndash;&lt;!&ndash; #logo end &ndash;&gt;&ndash;&gt;-->
  <!--</div>-->

  <div class="collapse navbar-collapse text-decoration" id="bs-example-navbar-collapse-1">
  <!-- unordered list starts here -->
  <ul class="nav navbar-nav navbar-right">
  <li><a class="active" href="index.html">Главная</a></li>
  <li><a href="#">Услуги</a></li>
  <li><a href="#">Это интересно</a></li>
  <li><a href="contact.html">Контакты</a></li>
  </ul>
  </div>
  <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
  </nav>
  </div>
  <!-- #header end -->
