  <!--<div class="navbar fontCustoms">-->
    <!--<div class="navbar-header">-->
      <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">-->
        <!--<span class="sr-only">Toggle navigation</span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
      <!--</button>-->
      <!--<a class="navbar-brand" rel="home" href="#/" title="Homepage"><img src="images/logo.png" style="height:58px; margin-top: -7%"></a>-->
    <!--</div>-->
  <!--<div class="collapse navbar-collapse navbar-ex1-collapse">-->
    <!--<ul class="nav navbar-nav">-->
      <!--<li  class="dropdown"  ng-class="{'activeHeader' : tabActive=='root.company.about'||tabActive=='root.company.value'||tabActive=='root.company.team'||tabActive=='root.company.reviews'}">-->
        <!--<a class="navHover" href="">{{Header_nav_1 | translate}}</a>-->
        <!--<ol class="dropdown-menu">-->
          <!--<li><a href=""></a></li>-->
          <!--<li ng-class="{'activeHeaderSubMenu' : tabActive=='root.company.about'}" ng-click="stateGo('root.company.about')"><a href="">{{Header_nav_1_1 | translate}}</a></li>-->
          <!--<li ng-class="{'activeHeaderSubMenu' : tabActive=='root.company.value'}" ng-click="stateGo('root.company.value')"><a href="">{{Header_nav_1_2 | translate}}</a></li>-->
          <!--<li ng-class="{'activeHeaderSubMenu' : tabActive=='root.company.team'}" ng-click="stateGo('root.company.team')"><a href="">{{Header_nav_1_3 | translate}}</a></li>-->
          <!--<li ng-class="{'activeHeaderSubMenu' : tabActive=='root.company.reviews'}" ng-click="stateGo('root.company.reviews')"><a href="">{{Header_nav_1_4 | translate}}</a></li>-->
        <!--</ol>-->
      <!--</li>-->
  <!-- Logo ============================================= -->
  <div class="container">
    <div class="row">
      <div id="logo" class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pull-left">
        <a href="index.html" class="medihere-logo">
          <img src="images/logo_black_none_text.png" style="width: 18%" alt="medihere Logo" title="medihere">
          <img src="images/logo_text.png" alt="medihere Logo" style="width: 60%" title="medihere">
        </a>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pull-right background-header-address" >
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style="margin-top: 1%">
          <p class="text-decoration"><span style="margin: 1%"><img width="20px" src="../images/icon/velcom.png"></span><span>+375 29 65 65 700</span></p>
          <p class="text-decoration"><span style="margin: 1%"><img width="20px" src="../images/icon/mts.png"></span><span>+375 29 55 65 700</span></p>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 " style="margin-top: 1%; text-align: left ">
          <p class="text-decoration">г. Минск &nbsp ул.Топографическая 7</p>
          <p class="text-decoration">e-mail: 6565700@gmail.com</p>
        </div>
      </div>

    </div>
  </div>
  <!-- #logo end -->
  <!-- Header
       ============================================= -->
      <!--<div class="container">-->
  <!--<nav class="navbar navbar-default">-->
  <!--<div class="container-fluid">-->
  <!--&lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;-->
  <!--<div class="navbar-header">-->
  <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">-->
  <!--<span class="sr-only">Toggle navigation</span>-->
  <!--<span class="icon-bar"></span>-->
  <!--<span class="icon-bar"></span>-->
  <!--<span class="icon-bar"></span>-->
  <!--</button>-->
  <!--&lt;!&ndash;&lt;!&ndash; Logo ============================================= &ndash;&gt;&ndash;&gt;-->
  <!--&lt;!&ndash;<div id="logo">&ndash;&gt;-->
  <!--&lt;!&ndash;<a href="index.html" class="medihere-logo"><img src="images/logo.png" alt="medihere Logo" title="medihere"></a>&ndash;&gt;-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->
  <!--&lt;!&ndash;&lt;!&ndash; #logo end &ndash;&gt;&ndash;&gt;-->
  <!--</div>-->
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pull-right">
      <nav>
        <div class="collapse navbar-collapse text-decoration" id="bs-example-navbar-collapse-1">
        <!-- unordered list starts here -->
        <ul class="nav navbar-nav navbar-right">
        <li ng-click="stateGo('root.main')"><a class="" ng-class="{'active' : tabActive =='root.main'}" href="">Главная</a></li>
        <li ng-click="stateGo('root.company.reviews')"><a ng-class="{'active' : tabActive =='root.company.reviews'}"  href="">Услуги</a></li>
        <li ng-click="stateGo('root.cases')" ><a ng-class="{'active' : tabActive =='root.cases'}" href="">Это интересно</a></li>
        <li ng-click="stateGo('root.contacts')"><a  ng-class="{'active' : tabActive =='root.contacts'}" href="">Контакты</a></li>
        </ul>
        </div>
      <!-- /.navbar-collapse -->
      <!-- /.container-fluid -->
      </nav>
    </div>
  </div>
  <!-- #header end -->
