<div style="height: 90px"></div>
<div id="myCarousel" class="carousel slide first-fixed-block border-separator-bottom " data-interval="3000" data-ride="carousel">
  <div class="carousel-inner">
    <div class="item active background">
      <div class="row slide-1 captions">
        <div class="col-md-3 col-sm-3 col-xs-3 col-lg-2 margin-slide" style=" height: 310px;
            padding-left: 0px;
            padding-right: 0px;">
            <ul class="nav nav-list bs-docs-sidenav affix" style="width: inherit; background-color: rgba(245, 247, 247, 0.48);">
              <li ng-repeat="auto in autos " class="active" ng-click="ClickCars(auto)">
                <a href="#typography">
                  <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4" >
                      <img ng-src="{{auto.src}}" style="width: 32px;">
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-8 col-lg-8" style="text-align: left">
                      {{auto.label}}
                    </div>
                  </div>
                 </a>
              </li>
              <li style="border: none" ng-click="stateGo('root.company.reviews')">
                <a href="">
                Show_all...
              </a></li>
            </ul>


        </div>

        <div class="col-md-9 col-sm-9 col-xs-9 col-lg-10 margin-slide slide-1" style=" height: 310px;">
          <div class=" slide-1-block-background slide-1-block-background-company" style=" height: 335px; padding-top: 2%; width: 100%;" >

            <img ng-show="!description" src="../images/logo_black.PNG" style=" height: 290px; margin-left: 30%;">
            <div ng-show="description" class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
                  <img ng-src="{{src}}">
            </div>
            <div ng-show="description" class="col-lg-10 col-md-10 col-sm-9 col-xs-8">
              <p>{{description}}</p>

              <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4 pull-right">
                <button class="form-control" ng-click="openModal('congratulation')">Open</button>
              </div>
            </div>
            <h1>{{SecondPage_Slider_Title| translate}} </br></h1>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>


<div class="row block-default none-row " style="color: #faebd7;">
  <div ng-click="OpenState('.service.business')" class="col-it-inf col-md-3 col-sm-3 col-xs-10 pointer">
    <img id="first-icon" class="icons animated" src='../images/icon/002-shield_circle.png'>
    <h4><b>Cертифицированный инструмент</b></h4>
    <p>Работаем с лучшим инструментом за короткий срок</p>
  </div>
  <div ng-click="OpenState('.service.mobile')" class="col-it-inf col-md-3 col-sm-3 col-xs-10 pointer">
    <img id="second-icon" class="icons animated" src='../images/icon/003-bug_circle.png'>
    <h4><b>Последняя надежда</b></h4>
    <p>Устраним неустранимые неисправности</p>
  </div>
  <div ng-click="OpenState('.service.it')" class="col-it-inf col-md-3 col-sm-3 col-xs-10 pointer">
    <img id="third-icon" class="icons animated" src='../images/icon/004-key_circle.png'>
    <h4><b>Быстрый сервис</b></h4>
    <p>На весь комплекс работ потребуется не более 25 минут </p>
  </div>
</div>
